---
skills:
  -
    Excellent _written, oral, presentation and communication skills_ as demonstrated by giving presentations at conferences, business meetings, and Procter & Gamble product pitches. Also recived recognition in various communication skills based competitions. See my presentations [here](/presentations/)
  -
    Outstanding _problem solving skills_ as recognized at various engineering competitions. Recieved recognition at Procter & Gamble for outstanding performance in a project management capacity.

  -
    Experience in programming in _C++ and MATLAB_ from experience with calculation of machine tool forces for programming of CNC software
  -
    _Working knowledge of CAD Softwares_ from mechanical design internship and specialization in course work


experiences:
  -
    employer: Procter & Gamble
    title: Information and Decisions Solutions Analyst,
    date: May 2009-Aug 2009
    description:
      -
        Developed multi-million dollar marketing strategy with other interns to utilise social media for youth targeted advertising
      -
        Designed user and administrator interface for a web based system to manage change requests in the company
  -
    employer: NORR Ingenium Group
    title: Engineering Intern
    date: Jan 2012-Apr 2012
    description:
      -
        Designed and drafted HVAC systems including ducting, some piping and equipment selections
      -
        Wrote macros and other tools for software to preform various HVAC related calculations for designs
  -
    employer: Swallow Acoustic Consultants Ltd.
    title: Engineering Assistant
    date: Jan 2012-Apr 2010
    description:
      -
        Prepared full reports requiring the use of vector calculus, architectural acoustics, data organization and understanding of inter-disciplinary criteria
      -
        Created and modified drawings and specifications in AutoCAD 2007
      -
        Collaborated with various subcontractors, both on and off site
  -
    employer: University of Waterloo
    title: Mechanical Engineering TA
    date: Sept 2010-Dec 2012
    description:
      -
        Planned lessons and ran oral communications tutorial for first year students in mechanical engineering concepts course
      -
        Offered 1-1 tutoring on calculus course to first year engineering students
      -
        Co-ordinated “engine block dissection lab” and subsequent research projects on car parts

awards:
  -
    Sir Sandford Flemming Foundation Technical Speaking Award, 2nd Place, Nov 2011
  -
    Waterloo Engineering Competition, 1st place in Consulting Design Competition, July 2012
  -
    University of Waterloo Dean's Leadership Award, May 2010 & May 2011
  -
    Canadian Society of Professional Engineers Outstanding Achievement Award, May 2010
  -
    Procter and Gamble Power of You Award for Outstanding Employee Achievement, August 2009

activities:
  -
    Avid photographer, with interest in landscape photography
  -
    Keyboardist, singer and organist in community
  -
    Volunteer for engineering outreach initiatives through “Women in Engineering”, University of Waterloo



---
<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <title>Alessia Danelon - Resume</title>
  <style type="text/css">
    {{ Inline CSS to upload to jobmine properly }}
    {% include resume_style.css %}
  </style>
</head>

<body>
  <div id="page">
    <div id="header">
      <div id="name">
        <p>ALESSIA<span class="bold">DANELON</span></p>
      </div>
      <div id="contact-div">
        <ul id="contact">
          <li><span>Phone</span><strong>647 890 4464</strong></li>
          <li><span>Email</span><strong>danelon.a@gmail.com</strong></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="section">
        <h2>Skills</h2>
        <div class="item">
          <div class="description">
            <ul>
              {% for skill in page.skills %}
                <li>{{ skill|markdownify }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="section">
        <h2>Experience</h2>
        {% for experience in page.experiences %}
          <div class="item">
            <h3><a href="{{ experience.website }}">{{ experience.employer }}</a></h3>
            <h4>{{ experience.title }}</h4>
            <div class="date">{{ experience.date }}</div>
            <div class="description">
              {% for description in experience.description %}
                <p>{{ description }}</p>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="section">
        <h2>Awards</h2>
        <div class="item">
          <div class="description">
            <ul>
              {% for award in page.awards %}
                <li>{{ award|markdownify }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="section">
        <h2>Activities and Interests</h2>
        <div class="item">
          <div class="description">
            <ul>
              {% for activity in page.activities %}
                <li>{{ activity|markdownify }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="section">
        <h2>Education</h2>
        <div class="item">
          <h3>University of Waterloo</h3>
          <h4>3A Systems Design Engineering</h4>
          <div class="date">2009 - 2014 (expected)</div>
          <div class="description">
            <p>Honours Systems Design Engineering, Merit Scholar, NSERC Research Grant</p>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>Owen Coutts | owen@owencoutts.com</p>
    </div>
  </div>
</body>
</html>
