---
skills:
  -
    Excellent _written, oral, presentation and communication skills_ as demonstrated by giving presentations at conferences, business meetings, and Procter & Gamble product pitches. Also recived recognition in various communication skills based competitions. See my presentations at ******
  -
    Outstanding _problem solving skills_ as recognized at various engineering competitions. Recieved recognition at Procter & Gamble for outstanding performance in a project management capacity.

  -
    Experience in programming in _C++ and MATLAB_ from experience with calculation of machine tool forces for programming of CNC software
  -
    _Working knowledge of CAD Softwares_ from mechanical design internship and specialization in course work


experiences:
  -
    employer: University of Waterloo
    website: http://uwaterloo.ca
    title: Mechanical Engineering First Year TA
    date: Sept. 2010-Dec. 2010
    bullets:
      I worked on [Mozillians](http://www.mozillians.org/), a community platform for contributors. Mozillians is a site with technologies including django, backbone.js and ElasticSearch. I was responsible for tasks such as implementing a design refresh, implementing an API and working on feature requests from product owners. Check out what I worked on at my [github](https://github.com/mozilla/mozillians/commits/master?author=tallowen).
  -
    employer: Mozilla
    website: http://mozilla.com
    title: Quality Engineer
    date: May-August 2011
    description:
      I created a system to generate various types of large scale load for the [Mozilla Sync Servers](https://services.mozilla.com/). I wrote code that tore apart various systems and found scaling vulnerabilities. I used distributed [funkload](http://funkload.nuxeo.org/) applications to generate load and [MongoDB](http://www.mongodb.org/) to provide a data validation backend.
  -
    employer: Twitsprout
    website: http://twitsprout.com
    title: Web Developer (Contractor)
    date: March-April 2011
    description:
      Twitsprout is a social networking startup. I engineered their minimum viable product. I designed a user interface that allowed users to browse their Twitter and Facebook data in more useful ways.
  -
    employer: Top Hat Monocle
    website: http://tophatmonocle.com
    title: Evil Genius
    date: September-December 2010
    description:
      Top Hat is a 10-person startup that makes educational software. I implemented automated frontend testing in [Selenium](http://seleniumhq.org/) to help with release testing. I also implemented various backend features written in Django. Because of the nature of the startup, I was able to gain exposure in agile development and especially fast release cycles.
  -
    employer: Research in Motion
    website: http://rim.com
    title: Systems Integration Specialist
    date: January-May 2010
    description:
      I designed, developed and executed testing procedures for a new database system that allowed RIM to streamline BlackBerry production. I participated in multiple global database go-lives that critically impacted the production process. I led a team of individuals to complete testing and validate the new database system during go-live. I relied on my communication skills as well as leadership skills to get the job done.

sample_code:
  -
    title: Mozillians
    url: https://github.com/mozilla/mozillians/commits?author=tallowen
  -
    title: Social Share Plugin
    url: https://github.com/mozilla/SocialShare/commits?author=tallowen
  -
    title: Git Legit
    url: https://github.com/kennethreitz/legit/commits?author=tallowen
  -
    title: Django BrowserID
    url: https://github.com/mozilla/django-browserid/commits?author=tallowen
  -
    title: Django Sha2
    url: https://github.com/fwenzel/django-sha2/commits?author=tallowen

---
<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <title>Alessia Danelon - Resume</title>
  <style type="text/css">
    {{ Inline CSS to upload to jobmine properly }}
    {% include resume_style.css %}
  </style>
</head>

<body>
  <div id="page">
    <div id="header">
      <div id="name">
        <p>ALESSIA<span class="bold">DANELON</span></p>
      </div>
      <div id="contact-div">
        <ul id="contact">
          <li><span>Phone</span><strong>647 890 4464</strong></li>
          <li><span>Email</span><strong>danelon.a@gmail.com</strong></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="section">
        <h2>Skills</h2>
        <div class="item">
          <div class="description">
            <ul>
              {% for skill in page.skills %}
                <li>{{ skill|markdownify }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="section">
        <h2>Experience</h2>
        {% for experience in page.experiences %}
          <div class="item">
            <h3><a href="{{ experience.website }}">{{ experience.employer }}</a></h3>
            <h4>{{ experience.title }}</h4>
            <div class="date">{{ experience.date }}</div>
            <div class="description">
              {{ experience.description|markdownify }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="section">
        <h2>Code Samples</h2>
        {% for sample in page.sample_code %}
          <div class="item">
            <h3>{{ sample.title }}</h3>
            <h4><a href="{{ sample.url }}">{{ sample.url }}</a></h4>
          </div>
        {% endfor %}
      </div>
      <div class="section">
        <h2>Education</h2>
        <div class="item">
          <h3>University of Waterloo</h3>
          <h4>3A Systems Design Engineering</h4>
          <div class="date">2009 - 2014 (expected)</div>
          <div class="description">
            <p>Honours Systems Design Engineering, Merit Scholar, NSERC Research Grant</p>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>Owen Coutts | owen@owencoutts.com</p>
    </div>
  </div>
</body>
</html>
